# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

add_newline = false

# Sets user-defined palette
# Palettes must be defined _after_ this line
palette = "catppuccin_mocha"

# Starship modules
[character]
# Note the use of Catppuccin color 'peach'
success_symbol = '[➜](bold peach)'
#success_symbol = "[[󰄛](green) ❯](peach)"
#error_symbol = "[[󰄛](red) ❯](peach)"

[git_branch]
style = "bold mauve"

[directory]
truncation_length = 4
style = "bold lavender"

[package]
disabled = true

[java]
format = 'using [${symbol}(${version} )]($style)'
style = 'bold red'
version_format = '${raw}'

[nodejs]
format = 'using [${symbol}(${version} )]($style)'
detect_files = ['package.json']
style = 'bold green'
version_format = '${raw}'

[python]
format = 'using [${symbol}(${version} )]($style)'
style = 'bold green'
version_format = '${raw}'
disabled = true

[git_metrics]
added_style = 'bold green'
deleted_style = 'bold red'
#disabled = false

[git_status]
style = 'bold peach'

# Palette definitions
[palettes.catppuccin_macchiato]
rosewater = "#f4dbd6"
flamingo = "#f0c6c6"
pink = "#f5bde6"
mauve = "#c6a0f6"
red = "#ed8796"
maroon = "#ee99a0"
peach = "#f5a97f"
yellow = "#eed49f"
green = "#a6da95"
teal = "#8bd5ca"
sky = "#91d7e3"
sapphire = "#7dc4e4"
blue = "#8aadf4"
lavender = "#b7bdf8"
text = "#cad3f5"
subtext1 = "#b8c0e0"
subtext0 = "#a5adcb"
overlay2 = "#939ab7"
overlay1 = "#8087a2"
overlay0 = "#6e738d"
surface2 = "#5b6078"
surface1 = "#494d64"
surface0 = "#363a4f"
base = "#24273a"
mantle = "#1e2030"
crust = "#181926"

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"
